@import url("//db.onlinewebfonts.com/c/e662339992c4abf5b43f537391bd3169?family=Candara");

@font-face {
	font-family: "Candara"; 
	src: url("//db.onlinewebfonts.com/t/e662339992c4abf5b43f537391bd3169.eot"); 
	src: url("//db.onlinewebfonts.com/t/e662339992c4abf5b43f537391bd3169.eot?#iefix") format("embedded-opentype"), 
		url("//db.onlinewebfonts.com/t/e662339992c4abf5b43f537391bd3169.woff2") format("woff2"), 
		url("//db.onlinewebfonts.com/t/e662339992c4abf5b43f537391bd3169.woff") format("woff"), 
		url("//db.onlinewebfonts.com/t/e662339992c4abf5b43f537391bd3169.ttf") format("truetype"), 
		url("//db.onlinewebfonts.com/t/e662339992c4abf5b43f537391bd3169.svg#Candara") format("svg"); 
}

/*----------------Root----------------------*/
:root{
    --background:#2b151f;
    --portrait: url("https://cdn.discordapp.com/attachments/386579091551158272/1110579126617768036/export202305231544451479.png");
    --sidebar:#f2d1af;
    --sidebar-text:#333333;
    --index: #a06a33;
    --content:#eca71f;
    --content-inner: #596f1a;
    --content-outer: #f4f4f4;
    --content-text:#f4f4f4;
    --button: #653717;
    --button-hover: #914f21;
    --button-active: #502c12;
    --font: 'Candara';
    --url:#fff1e6;
    --url-hover:#fffaf6;
    --url-active:#e7d7cb;
    --title:#a2f1cb;
    --scrollbar:var(--Accent);
    --accent:#f2992e;
    --sub-accent:#ffb2b2;
    }

/*------------------Body Build-------------------*/
    body {
        margin:0;
        background: var(--background);
        background-attachment: fixed;
        background-repeat:repeat;
        background-size: 40%;
        display: grid;
        grid-template-columns: 400px 1000px;
        grid-template-rows: auto 100px;
        justify-content: center;
        align-content: center;
        }
    
    .portrait {
            position: absolute;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
            bottom: 70%;
        }

    .portrait img {
            width: 135px;
            border-radius: 100px;
            margin-top: -30px;
            background-color: white;
            padding: 5px;
        }

    section {
        display: grid;
        justify-content: center;
        position: relative;
        right: 5%;
        top: 25%;
    }
/*------------------Sidebar-------------------*/
    sidebar {
	    display: block;  
        border-image-source: url('https://cdn.discordapp.com/attachments/778281142415392799/1122655281197879337/edvrian_bg.webp');
        border-image-slice: 0% fill;
        border-image-outset: 5px;
	    min-width: 280px;
	    max-width: 300px;
        min-height: 200px;
        max-height: 300px;
	    position: sticky;
	    padding: 10px;
    }
    .corners {
        --notchSizeTop01: 40px;
        --notchSizeTop02: 120px;
        --notchSizeBottom: 20px;
        clip-path: 
            polygon( 
                0% var(--notchSizeTop01), var(--notchSizeTop02) 0%, 
                calc(100% - var(--notchSizeTop02)) 0%, 100% var(--notchSizeTop01), 
                100% calc(100% - var(--notchSizeBottom)), calc(100% - var(--notchSizeBottom)) 100%, 
                var(--notchSizeBottom) 100%, 0% calc(100% - var(--notchSizeBottom)) 
                );
    }
    .sidebar-title {
        text-align: center;
        font-size: xx-large;
        font-family: var(--font);
        font-weight: bold;
        color: var(--sidebar-text);
        border-bottom: 2px solid transparent;
        border-image: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(33,21,35,0.5) 25%, rgba(64,42,33,1) 50%, rgba(64,42,50,0.5) 75%, rgba(64,42,33,0) 100%) 1 stretch;
        margin: 10px;
        padding-top: 10px;
    }

    .sidebar-text {
        font-family: var(--font);
        text-align: center;
        color: var(--sidebar-text);
        word-wrap: break-word;
        border-bottom: 3px solid transparent;
        border-image: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(33,21,35,0.5) 25%, rgba(64,42,33,1) 50%, rgba(64,42,50,0.5) 75%, rgba(64,42,33,0) 100%) 1 stretch;
        padding: 15px 10px 20px 10px;
    }

    /*-------------------Button Area----------------*/
    .index {
        background-color: var(--index);
        padding: 10px;
        min-width: 100px;
        max-width: 280px;
        min-height: 120px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        --notchSize: 20px;
        clip-path: 
            polygon( 
                0% 0%, 0% 0%, 
                100% 0%, 100% 0%, 
                100% calc(100% - var(--notchSize)), calc(100% - var(--notchSize)) 100%, 
                var(--notchSize) 100%, 0% calc(100% - var(--notchSize)) 
            );
    }

    .buttongrid {
        display: grid;
        grid-template-columns: 120px 120px;
        grid-template-rows: 50px 50px;
        grid-gap: 10px;
        justify-content: center;
        align-content: center;
    }

    .button {
        background-color: var(--button);
        border-style: solid;
        border-width: 0 0 3px 3px;
        border-color: #3b200e;
        color: white;
        font-family: var(--font);
        font-size: large;
        font-weight: bold;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        text-transform: uppercase;
        transition-duration: 0.1s;
        --notchSize: 10px;
        clip-path: 
            polygon( 
                0% 0%, 0% 0%, 
                calc(100% - var(--notchSize)) 0%, 100% var(--notchSize), 
                100% calc(100% - var(--notchSize)), calc(100% - var(--notchSize)) 100%, 
                var(--notchSize) 100%, 0% calc(100% - var(--notchSize)) 
            );
    }

    .button:hover {
        background-color: var(--button-hover);
        border-style: solid;
        border-width: 0 0 5px 5px;
        border-color: #68391a;
        transition-duration: 0.05s;
        --notchSize: 10px;
        clip-path: 
            polygon( 
                0% 0%, 0% 0%, 
                calc(100% - var(--notchSize)) 0%, 100% var(--notchSize), 
                100% calc(100% - var(--notchSize)), calc(100% - var(--notchSize)) 100%, 
                var(--notchSize) 100%, 0% calc(100% - var(--notchSize)) 
            );
    }

    .button:active {
        background-color: var(--button-active);
        border-style: solid;
        border-width: 0 0 2px 2px;
        border-color: #341c0c;
        transition-duration: 0.05s;
        --notchSize: 10px;
        clip-path: 
            polygon( 
                0% 0%, 0% 0%, 
                calc(100% - var(--notchSize)) 0%, 100% var(--notchSize), 
                100% calc(100% - var(--notchSize)), calc(100% - var(--notchSize)) 100%, 
                var(--notchSize) 100%, 0% calc(100% - var(--notchSize)) 
            );
    }

    .button a {
        color: white;
        text-decoration: none;
    }

    .button a:link, 
    .button a:visited {
        color: white;
        text-decoration: none;
    }

    .button a:hover {
        color: #86e1ff;
        text-decoration: underline;
    }

    .button a:active {
        color: #63bcda;
        text-decoration: none;
    }

/*-----------Search Bar--------------------
#search {
	margin-top: 30px;
	display: grid;
	align-items: center;
	justify-content: center;
	align-content: center;
}*/

/*-----------Main Content------------------*/

#content {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    border-image-source: url('https://cdn.discordapp.com/attachments/778281142415392799/1122635277261885631/hoston_content.png');
    border-image-slice: 30 fill;
    border-image-width: 30px;
    border-image-outset: 10px;
	break-inside: avoid;
	position: relative;
	max-width: 900px;
	top: 55%; 
    left: 48%; 
    transform: translate(-50%, -50%);
    padding: 5px;
}

.content-inner {
    word-wrap: break-word;
    break-inside: avoid;
    padding: 5px 5px 5px 25px;
    margin: 5px;
    border-image-source: url('https://cdn.discordapp.com/attachments/778281142415392799/1122633364424372244/hoston_background_02.png');
    border-image-slice: 30 fill;
    border-image-width: 20px;
    border-image-outset: 5px;
}

/*----------------Footer-------------*/

#footer {
	display: grid;
	position: relative;
	top: -55%;
}

.footer-container {
    margin: auto;
    font-family: var(--font);
    font-size: 10px;
    text-align: center;
    width: min-content;
    min-width: 90px;
    background-color: var(--sidebar);
    border-radius: 6px;
}