body{
    background-image: url(https://i.imgur.com/bAzmb6W.png);
	height: 100%;
	background-position: center;
	background-repeat: repeat;
	}
.content{
    background-color: #ecc9a6;
    font-family: Arial;
    }