@import url(//db.onlinewebfonts.com/c/e662339992c4abf5b43f537391bd3169?family=Candara);

:root{
    --background:#3a3131;
    --portrait: url("https://cdn.discordapp.com/attachments/386579091551158272/1110579126617768036/export202305231544451479.png");
    --sidebar:#f2d1af;
    --sidebar-text:#333333;
    --sidebar-url:#998080;
    --sidebar-url-hover:#a10606;
    --sidebar-url-active:#427b88;
    --content:#a06a33;
    --content-text:#1a1a1a;
    --content-border:#e92525;
    --url:#fff1e6;
    --url-hover:#fffaf6;
    --url-active:#e7d7cb;
    --title:#a2f1cb;
    --scrollbar:var(--Accent);
    --accent:#f2992e;
    --sub-accent:#ffb2b2;
    }

/*------------------Other-------------------*/
    body {
        margin:0;
        background: var(--background) /*url({image:Background})*/;
        background-attachment: fixed;
        background-repeat:repeat;
        background-size: 40%;
        }
        
    .flex {
        display:flex;
        flex-wrap:nowrap;
        }
    
    .portrait{
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);bottom: 55%;
        z-index: 2;
        bottom: 65%;
    } 

    .portrait img{
        width: 96px;
        height: 96px;
        border-radius: 50px;
        }
/*------------------Body Build-------------------*/
    main {
	width: 100%;
	max-width: 1400px;
	margin: auto;
	align-items: center;
	justify-content: center;
	align-content: center;
    }
    section {
	top: 180px;
	position: relative;
	right: 30px;
    }
/*------------------Sidebar-------------------*/
    sidebar {
	display: block;
	min-width: 280px;
	max-width: 300px;
    min-height: 200px;
	position: sticky;
	background-color: var(--sidebar);
	color: var(--sidebar-text);
	padding: 10px;
	border-radius: 10px;
    }
    .sidebar-title {
	text-align: center;
	font-size: 23px;
	font-family: Candara;
	color: var(--sidebar-text);
	font-weight: bold;
    margin-top: 10px;
    }

    .sidebar-title h1 {
    width: 100%;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(33,21,35,0.5) 25%, rgba(64,42,33,1) 50%, rgba(64,42,50,0.5) 75%, rgba(64,42,33,0) 100%); 1 stretch;
    }

    .sidebar-text {
	font-family: Candara;
	word-wrap: break-word;
    }

    /*-------------------Button Area----------------*/


/*-----------Search Bar--------------------
#search {
	margin-top: 30px;
	display: grid;
	align-items: center;
	justify-content: center;
	align-content: center;
}*/

/*-----------Main Content------------------*/

content {
	break-inside: avoid;
	position: relative;
	max-width: 1500px;
	width: 60%;
	top: 70px;
    }

.content-inner {
    overflow: hidden;
    transition: transform .75s;
    margin-bottom: 50px;
    background: var(--content);
    color: var(--content-text);
    word-wrap: break-word;
    break-inside: avoid;
    border-radius: 10px;
    padding: 5px 5px 5px 25px;
}

/*----------------Footer-------------*/

.flexfooter {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    margin: auto;
    padding: 0px 5px 0px 5px;
    font-family: Candara;
    font-size: 10px;
    text-align: center;
    width: min-content;
    background-color: var(--sidebar);
    border-radius: 6px;
}

/*body{
    background: url(https://raw.githubusercontent.com/LPS100/LPS100.github.io/main/background%20scarf.png) #ac794516;
    background-size: 15%;
	background-repeat: repeat;
    background-blend-mode: multiply;
	}
.header {
    padding: 15px;
    text-align: center;
    min-width: 10%;
    height: auto;
}*/

/*Column CSS*/
/*.column1 {
    float: left;
    width: 30%;
}
.column2 {
    float: left;
    width: 70%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
  }*/

/*Content*/
/*.content-box{
    background-color: #f3dcc6;
    border-radius: 6px;
    margin: auto;
    max-width: 900px;
    min-height: 400px;
    }
.content-header{
    color: #503421;
    margin: auto 50px;
    padding: 20px 5px 1px 30px;
    text-align: left;
    border-bottom: 2px #ac7945 ridge;
    border-bottom-left-radius: 7px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    }*/

/*Index*/
/*.content-index{
    background-color: #deb996;
    color: #503421;
    overflow-wrap: break-word;
    min-height: 40px;
    min-width: 40px;
    max-width: 200px;
    margin: 10px 30px auto;
    border-right: 2px #ac7945 ridge;
    border-radius: 7px;
    }
.content-index p {
    font-family: Candara;
    text-align: left;
    padding: 5px;
}*/

/*Index Pic*/
/*.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }*/

/*Content*/
/*.content{
    color: #503421;
    overflow-wrap: break-word;
    min-width: 200px;
    max-width: 700px;
    margin: 5px 5px auto;
    font-family: Candara;
    }*/
