@import "content.css";

.row {
  margin: auto;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 10px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 20%
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.imgbox {
  border-image-slice: 0 fill;
  border-image-outset: 5px;
  border-image-source: url('https://cdn.discordapp.com/attachments/778281142415392799/1123368994003488768/hoston_portfolio_img.webp');
  padding: 10px;
}

.desc {
  border-image-source: url('https://cdn.discordapp.com/attachments/778281142415392799/1123370923244921002/hoston_portfolio_desc.webp');
  border-image-slice: 10 fill;
  border-image-outset: 5px;
}